extends layout.jade

block content
  .p-layout.p-layout__m
    .p-post
      .container
        include ../partials/cover_hd.jade
      .container.p-post-main
        #index-content
          .p-post-content.article_content
            include ../partials/article_content.jade
      include ../partials/washer.jade
  block panel