extends layout.jade

block content
  .page
    block panel
    .container
      .article_aside
      .article_content.article_washer
        block menu
        include ../partials/cover.jade 
        include ../partials/article_content.jade 
        block banner
      block promo