extends layout.jade

block content
  .page
    block panel
    .container
      include ../partials/cover_hd.jade 
      .article_aside
      .article_content
        block menu
        include ../partials/article_content.jade 
        block banner
      block promo