doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/png" href="/assets/favicon.ico")
    block title
      title Промо-проекты Inmyroom.ru

    meta(property="og:description" content="Промо-проекты Inmyroom.ru")
    link(rel="stylesheet" href="/assets/main.css")
  body

    include ../partials/header.jade        
    .container
      .article
        .article_content
          block content
          include ../partials/article_content.jade

    

    script(src='/assets/templates.js')
    script(src='/assets/main.js')