$sprite: (
	counter-visit: (
		offset-x: -30px,
		offset-y: 0px,
		width: 14px,
		height: 10px,
	),
	counter-visit2x: (
		offset-x: 0px,
		offset-y: 0px,
		width: 24px,
		height: 17px,
	),
);

$spritesheet-width: 44px;
$spritesheet-height: 17px;
$spritesheet-image: "sprite.png";