extends ./Templates/article_hd.jade


block panel
  .nav-panel
    a.nav-panel_item.is(href="http://promo-previews.inmyroom.ru/article_branding.html") Статья
    a.nav-panel_item.is-active(href="http://promo-previews.inmyroom.ru/article_hd_branding.html") Брендинг фона
    a.nav-panel_item(href="http://promo-previews.inmyroom.ru/article_hd_banner.html") Промо в конце
    a.nav-panel_item(href="http://promo-previews.inmyroom.ru/article_hd_menu.html") Доп. меню
    a.nav-panel_item(href="http://promo-previews.inmyroom.ru/article_hd_products.html") Товары
    a.nav-panel_item(href="http://promo-previews.inmyroom.ru/article_hd_banner_small.html") Баннер в статье
    //- a.nav-panel_item(href="http://promo-previews.inmyroom.ru/article_hd_elem.html") Промо-элемент


block promo
  .article-promo-project
    .article-promo-project-title МАТЕРИАЛ ПОДГОТОВЛЕН ПРИ ПОДДЕРЖКЕ
    .article-promo-project-logo
      a(href="http://goo.gl/MjvPnY" target="_blank")
        img(src="./assets/samsung_logo.png")