extends ./Templates/article_hd.jade


block panel
  .nav-panel
    a.nav-panel_item.is(href="/article_banner.html") Статья
    a.nav-panel_item(href="/article_hd_branding.html") Брендинг фона
    a.nav-panel_item.is-active(href="/article_hd_banner.html") Промо в конце
    a.nav-panel_item(href="/article_hd_menu.html") Доп. меню
    a.nav-panel_item(href="/article_hd_products.html") Товары
    a.nav-panel_item.is-active(href="/article_hd_banner_small.html") Баннер в статье
    a.nav-panel_item(href="/article_washer.html") Уникальная верстка



block promo
  .oven-promo_placeholder
    .oven-promo
      .oven-promo_pic
      .oven-promo_title КУХНЯ - ЭТО ЗЕРКАЛО ВАШЕГО ВКУСА.
      .oven-promo_desc
        | Ваш собственный стиль на кухне - это не только вкус готовой пищи. Это и удовольствие от вашего выбора, азарт импровизации и творчества, наслаждение результатом, гармония различных комбинаций и атмосферность интерьера.
        br
        br
        | Встраиваемые духовые шкафы Hotpoint обеспечивают расширенную функциональность и легкость управления,  предлагая вам максимальную свободу для развития своих кулинарных талантов.
        .oven-promo_img
          img(style="width: 180px" src="https://cdn.inmyroom.ru/uploads/upload/file/309/Hotpoint_2015.png")