extends ./Templates/article_washer.jade

block panel
  .nav-panel.nav-panel_washer
    a.nav-panel_item(href="/article_branding.html") Брендинг фона
    a.nav-panel_item(href="/article_banner.html") Промо в конце
    a.nav-panel_item(href="/article_menu.html") Доп. меню
    a.nav-panel_item(href="/article_products.html") Товары
    a.nav-panel_item(href="/article_hd_banner_small.html") Баннер в статье
    a.nav-panel_item.is-active(href="/article_washer.html") Уникальная верстка