extends ./Templates/layout.jade

block content
  .page.page-index
    .container
      .promo-theme.promo-theme__custom
        .promo-theme_title КАСТОМНЫЕ ПРОМО-ПРОЕКТЫ
        div(data-component='promoTeasers')

      .promo-theme.promo-theme__articles
        .promo-theme_title ПРОМО В СТАТЬЯХ
        .promo-block.first
          .promo-main_title ВЫБЕРИТЕ ТИП СТАТЬИ
          .promo-main-btn#default Обычная статья
          .promo-main-btn#hd Статья HD
        .promo-block.second.is-hidden
          .promo-main_title ВЫБЕРИТЕ ТИП ПРОМОПРОЕКТА
          a.promo-main-btn#branding Брендирование фона статьи
          a.promo-main-btn#banner Промо-зона в конце статьи
          a.promo-main-btn#menu Доп. меню
          a.promo-main-btn#products Товары
          a.promo-main-btn#static Баннер внутри статьи
          a.promo-main-btn#washer(href="/article_washer.html") Уникальная верстка