.article_info
  .poper_toggle Ирина Соболевская
  .article_counters
    span.counter.counter-icon
    span.counter.counter-value 4680
.article-text 
  p Грамотная планировка не только раскроет имеющийся потенциал квартиры, но и поможет сэкономить время, затрачиваемое на самые обычные бытовые действия: стирку, готовку, сборы на работу. На что обратить внимание и как справиться с перепланировкой без помощи профессионала, нам рассказал архитектор Никита Морозов.
.me-experts
  .me-expert
    .me-expert_avatar
      img(src="https://cdn.inmyroom.ru/uploads/inner_photo/file/132/main_3b37abb6-6a32-4697-9356-f6489ec8162d")
    .me-expert_name Никита Морозов
    .me-expert_info Архитектор
    .me-expert_bio Никита Морозов – архитектор. В 2007 году организовал дизайн-бюро KM STUDIO. Считает, что идеальный интерьер должен объединять эстетику и эргономику и дарить впечатления.
h2.me-title.me-title__variant_h2 Основные принципы «умной» планировки
.article-text
  p Если вы решили сделать планировку квартиры самостоятельно, помните, что важно не только грамотно зонировать пространство, но и спроектировать помещения с правильными пропорциями и не забыть про удобство эксплуатации. 
.article-text
  p
    b 1.
    |  В грамотно спроектированной квартире помещения обычно делятся на следующие зоны:  
    b гостевые 
    | (кухня, гостиная, столовая); 
    b приватные
    |  (спальня, ванная, детская); 
    b частные
    |  (кабинет, гардеробная, гостевая комната).
  p
    b 2. 
    | В идеальной квартире 
    b не должно быть пустых, бесполезных, нерешенных пространств. 
    | Все коморки, темные комнаты, кладовки нужно присоединить к общему объему жилого помещения – в случае если вы не нашли им применения по назначению.
  p
    b 3. 
    | Распределять жилую площадь нужно 
    b с учетом ее функциональности и жилищных норм, 
    | которые определены в законодательстве. Даже при особом желании перенести спальню на место кухни получится не везде.
.gallery.gallery_small
  img(src="https://cdn.inmyroom.ru/uploads/photo/file/76/7654/main_post_76547ae5-a1b9-4663-90a3-d8cfd84666f7.jpg")
.article-text
  p
    b 4. 
    | При планировке  
    b учитывайте ориентацию помещений по сторонам света.  
    | Кто-то любит просыпаться с первыми лучами солнца, а кому-то больше по душе любоваться в спальне закатом.
  p
    b 5. 
    | Еще с советских времен в нашей стране особенно актуальна проблема проходных и непроходных помещений. 
    b Жилые комнаты по возможности должны иметь отдельный вход из прихожей,   
    |  чтобы и спальня, и детская были изолированные.  
.gallery
  img(src="https://cdn.inmyroom.ru/uploads/photo/file/c3/c3b7/main_post_c3b707c3-6b8f-4b49-8ef4-b643aeac8c1f.jpg")
h2.me-title.me-title__variant_h2 Как расположить мебель и сэкономить время?
.article-text
  p От грамотного расположения мебели и техники во многом зависит быстрое выполнение бытовых дел и удобство передвижения по квартире. А освободившееся время можно использовать для отдыха или встреч с друзьями. 
.article-text
  p
    b 1.
    |  Грамотная планировка кухни – одно из условий комфортной жизни в  квартире. Здесь крайне важно правильно разместить оборудование и  спланировать маршруты передвижения. При установке гарнитура 
    b следите за удобным рабочим треугольником 
    |  (холодильник, мойка и плита). Сумма его сторон не должна превышать 6 метров – иначе вы будете тратить на переход от одной зоны к другой больше времени и сил.  
  p
    b 2. Раковину обычно устанавливают в центре ряда
    | , плиту и холодильник по краям – это позволяет сделать деятельность на кухне менее энергозатратной. 
.gallery
  img(src="https://cdn.inmyroom.ru/uploads/photo/file/e6/e68d/main_post_e68ddd8b-ef2f-4a6c-844e-23828d04c4e5.jpg")