.me-cover
  .me-cover_head
    a.me-cover_tag(href="https://www.inmyroom.ru/tags/sovety") Советы
    .me-cover_title Как грамотная планировка экономит время активного человека
    .me-cover_description Можно ли тратить меньше времени на стирку и сушку, приготовление еды и уборку только благодаря грамотной планировке? Можно и нужно! Наши советы вам в этом помогут
  .me-cover_img
    img(src="https://cdn.inmyroom.ru/uploads/post/teaser/34/3478/cropped_34786463-a4ec-4551-8ced-5cfca0324f0e.jpg")