.p-layout.p-layout__l(data-component="washer")
  .p-washer.p-washer__size_l(data-component="stickyWasher")
    a.p-washer_roller

    .p-washer_panel-toggle.js-washerOpenPanel
    .p-washer_panel.js-washerPanel
      .p-washer_panel_left
        .p-washer_panel_control
        .p-washer_panel_control
        .p-washer_panel_control
          .p-washer_popover
            .p-washer_popover_title Кнопка «Colour 15”»
            .p-washer_popover_text
              | Исследователи доказали, что в холодной воде
              br
              | я стираю эффективнее, чем в горячей. А еще
              br
              | я бережлива к вашему бюджету и экономлю электричество.

        .p-washer_panel_control
          .p-washer_popover
            .p-washer_popover_title Кнопка «Сохранение свежести»
            .p-washer_popover_text
              | В идеальном мире белье вытаскивают сразу после стирки.
              br
              | Но если вы забыли об этом или не успели сделать,
              br
              | я смогу поддержать свежесть постиранного белья
              br
              | в течение следующих 6 часов!

        .p-washer_panel_control
          .p-washer_popover
            .p-washer_popover_title Кнопка «Подсказка дозировки»
            .p-washer_popover_text
              | Для меня безразлично, мягкая вода или жесткая,
              br
              | я подскажу сколько средства для стирки мне нужно.
              br
              | Не добавляйте слишком много!

      .p-washer_panel_right
        .p-washer_panel_control
          .p-washer_popover
            .p-washer_popover_title Кнопка «Отложенный старт»
            .p-washer_popover_text
              | Вы бы хотели вернуться с работы, расслабиться и
              br
              | не тратить свободное время на стирку? Не вопрос!
              br
              | Назначьте мне время, и я все постираю к указанному часу.

        .p-washer_panel_control
        .p-washer_panel_control
        .p-washer_panel_control
          .p-washer_popover
            .p-washer_popover_title Кнопка «Блокировка кнопок»
            .p-washer_popover_text
              | Думаете, блокировка есть только в телефоне и автомобиле?
              br
              | У меня тоже!

        .p-washer_panel_control